.icon-email { background-image: url(/static/images/email.png) !important; }
.icon-emails { background-image: url(/static/images/emails.png) !important; }
.icon-folders { background-image: url(/static/images/folders.png) !important; }
.icon-link { background-image: url(/static/images/link.png) !important; }
.icon-links { background-image: url(/static/images/links.png) !important; }
.icon-mail-earth { background-image: url(/static/images/mail_earth.png) !important; }
.icon-mail-earths { background-image: url(/static/images/mail_earths.png) !important; }
.icon-news { background-image: url(/static/images/news.png) !important; }
.icon-newspapers { background-image: url(/static/images/newspapers.png) !important; }
.icon-node { background-image: url(/static/images/node.png) !important; }
.icon-nodes { background-image: url(/static/images/nodes.png) !important; }
